

  <p><span>Ingrid is an artist-run project space in a domestic setting.
  </span>
  
  <span>More intimate than a public or commercial gallery, it is interested in doing less and spending more time with what it does.
  </span>
  
  <span>Through hosting small-scale events and exhibitions it aims to generate informal and concentrated situations of exchange and new friendships.<span></p>

