


<% @events.each do |event| %>
  

  <h1><%= event["name"] %></h1>
  <%= image_tag event["cover"]["source"] %>
  <p><%= event["place"]["name"] %></p>
  <p><%= event["description"] %></p>


<% end %>


