/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway');

@import 'bootstrap';

  
h1 a {
  color:black;
  font-family: 'Libre Baskerville', cursive;
  text-transform: capitalize;
  text-decoration: none;
}

h1 a:hover {
  color:black;
}
a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

p {
  width:50%;
  font-size: 15px;
  text-align:justify;
  margin:0 auto;
  padding-top:180px;
  color: gray;
  font-family: 'Raleway', sans-serif;
}

p span {
  display: block;
  line-height: 2em;
}



.container {
  margin-top: 220px;
  padding-left: 10px;
}
.container .contact {
  margin:320px 50px 20px 320px;

}
.container .contact p {
  size: 11px;
}

.eventcontainer {
  height:163px;
}

.eventcontainer img {
  max-width:200px;
  max-height:200px;
  object-position:contain;
  position: absolute;
}

.detail{
  position: absolute;
  left:200px;
  padding-left:15px;
}

.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 10000;
  height: 200px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
  width: 90%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
  display: inline-block;
  text-decoration:none;
  position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
  line-height: 230px;
}

.cbp-af-header h1 {
  text-transform: uppercase;
  color: #333;
  letter-spacing: 4px;
  font-size: 4em;
  margin: 0;
  float: left;
}

.cbp-af-header nav {
  float: right;
}

.cbp-af-header nav a {
  color: #aaa;
  font-weight: 700;
  margin: 0 0 0 20px;
  font-size: 1.4em;
}

.cbp-af-header nav a:hover {
  color: #333;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
  height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
  line-height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
  font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {

  img {
    max-width:80%;
    padding-top: 30px;
    padding-left: 20px;
  }
  
  .cbp-af-header .cbp-af-inner {
    width: 100%;
  }

  .cbp-af-header h1,
  .cbp-af-header nav {
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
  }

  .cbp-af-header h1,
  .cbp-af-header nav a {
    line-height: 115px;
  }

  .cbp-af-header nav a {
    margin: 0 10px;
  }

  .cbp-af-header.cbp-af-header-shrink h1,
  .cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 25px;
  }

  .cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 2em;
  }

  .cbp-af-header.cbp-af-header-shrink nav a {
    font-size: 1em;
  }
}

@media screen and (max-width: 32.25em) {
  .cbp-af-header nav a {
    font-size: 1em;
  }
}

@media screen and (max-width: 24em) {
  .cbp-af-header nav a,
  .cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 1;
  }
}