/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');



  
h1 a {
  color:black;
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}


li {
  list-style-type:none;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  padding: 20px;
  float:left;
}



li a {
  text-decoration: none;
}

li :hover {
  color: pink;
}

img {
  width: 25%;
  padding: 10px 20px 2px 2px;
  float: right;
  border-radius: 4px;
}