// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  // width: 25%;
  padding: 10px 20px 2px 2px;
  float: right;
  border-radius: 4px;
}

.show p  {
  width: 40%;
  float: right;
  
}

.show p {
  font-size: 20px;
}