// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



iframe {
  padding:100px;
  width: 50%;
  display: block:
  
}

p {
  width: 50%;
  height: 80%;
  padding-top: 150px;
  padding-left: 200px;
  line-height: 1.6em;
  display: block;
  position: absolute;
}

