// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


iframe {
  float:left;
  width: 50%;
  margin-left: 200px;
  margin-top: 200px;
}

p {
  width: 50%;
  height: 80%;
  padding-top: 150px;
  padding-left: 200px;
  line-height: 2em;
  display: block;
  position: absolute;
}

